.btn {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    width: 322px;
    height: 44px;
    background-color: var(--sub-color) ;
    border: none;
    color: #fff;
    border-radius: 44px;
    margin-top: 30px;
}

.active {
    background-color: var(--main-color); 
    cursor: pointer;
}