.inputWrapper {
    display: flex;
    flex-direction: column;
}
.input-field {
    width: 322px;
    height: 48px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

.input-validation {
    color: #eb5757;
    font-family: "Spoqa Han Sans Neo";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.label {
    color: var(--text-sub-color);
    font-family: "Spoqa Han Sans Neo";
    font-size: 12px;
    font-weight: 500;
    margin-top: 16px;
}

