.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding-bottom: 60px;
}

/* 모달 내부 */
.actionSheet {
  height: 184px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.handle {
  width: 50px;
  height: 4px;
  background-color: #dbdbdb;
  border-radius: 2px;
  margin: 0 auto 16px;
}

.menuList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuButton {
  width: 100%;
  padding: 14px 26px;
  font-size: 14px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menuButton:hover {
  background-color: #f5f5f5;
}

/* 로그아웃, 게시글삭제, 상품삭제 모달 */

.confirmModal {
  padding: 22px 0;
  text-align: center;
}

.confirmModal p {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.confirmButtons {
  border-top: 0.5px solid var(--border-color);
  display: flex;
}

.confirmButtons button {
  width: 50%;
  padding: 14px 0;
  font-size: 14px;
  line-height: 18px;
}

.confirmButtons button:first-child {
  border-right: 0.5px solid var(--border-color);
  color: var(--text-color-2);
}

.logoutConfirmButton {
  color: var(--main-color);
}
