.main {
  padding-top: 48px;
  margin-bottom: 84px;
}

.feed-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;

  background-image: url(../../assets/symbol-logo-gray.png);
  background-repeat: no-repeat;
}

.feed-message {
  margin-bottom: 20px;

  color: var(--text-sub-color);
  font-size: 14px;
  text-align: center;
}

.retry-button {
  padding: 12px 34px;

  border: none;
  border-radius: 44px;
  background-color: var(--main-color);

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;

  transition: background-color 0.2s ease;
  cursor: pointer;
}