.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  padding: 64px 16px 60px;
}

.userList {
  list-style: none;
  padding: 0;
  margin: 0;
}
